# NoteBook for IBM capstone project

#### Import the needed libraries

In [1]:
import pandas as pd
import numpy as np

#### We can make use of Pandas to read tables in the HTML webpage directly

In [2]:
df_toronto = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [3]:
df_toronto.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

#### Make the first row values as column names

In [4]:
df_toronto.columns = df_toronto.iloc[0]

#### Remove the first row , as it contains only the column names

In [5]:
df_toronto = df_toronto.iloc[1:]

In [6]:
df_toronto.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

#### Remove the non assigned boroughs

In [7]:
df_toronto = df_toronto[df_toronto['Borough'] != 'Not assigned']

In [8]:
df_toronto.head()

0 Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

#### Group the duplicate PostCode m Borough and aggregate the neighbourhood with comma

In [9]:
df_toronto = df_toronto.groupby(['Postcode','Borough'])['Neighbourhood'].agg(','.join).reset_index()

#### set the unassigned neighbourhood value to its borough value

In [10]:
df_toronto.loc[df_toronto['Neighbourhood'] == 'Not assigned','Neighbourhood'] = df_toronto.loc[df_toronto['Neighbourhood'] == 'Not assigned'].Borough

In [11]:
df_toronto.shape

(103, 3)